<h1>{{title}}</h1>
<p>Esta es la pantalla de título</p>
<nav>
  <ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="/presentacion">Presentación</a></li>
    <li><a href="/proyectos">Proyectos</a></li>
    <li><a href="/faq">FAQ</a></li>
    <li><a href="/contacto">contacto</a></li>
  </ul>
</nav>